.Header{
  background-color: black;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 3px;
}

.H1-Nav{
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

.BtnSvg{
  cursor: pointer;
}

.Svg{
  width: 3em;
  height: 2em;
  display:none;
  fill: white;
  
}

.Ul-Nav{
  display: flex;
  flex-flow: nowrap;
  justify-content: end;
  align-items: center;

}

.Li-Nav{
  margin: 1.3em;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Btn-Carrito :hover{
  cursor: pointer;
}
.Svg-Carrito{
  width: 8em;
  height: 3em;
  margin: 2px;
}
main{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30px;
  
}
.h1{
  color: black;
}

.card-content{
  justify-content: center;
  align-items: center;
  color: black;
  width: 20%;
  height: 20%;
  background-color:rgb(219, 216, 216);
  border: solid 1px black;
  margin: 20px;
}

.Title-product{
  display: flex;
  justify-content: center;
  margin: 10px;
  color: black;
  font-size: 22px;
}

.Info-Card{
  background-color: white;
  margin: 5px;
}

.Description{
  
}

.Price-Card{
  display: flex;
  font-size: 20px;
  margin: 13px;
  justify-content: center;
  color: rgb(186, 164, 108);
}
.Conteiner-BtnCard{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Conteiner-BtnCardAumDismi{
  display: flex;
  justify-content: center;
  
}

.Btn-Aumentar{
  text-align: center;
  color: black;
  margin: 8px;
  background-color: rgb(161, 158, 158);
  width: 11%;
  border-radius: 4px ;
  cursor: pointer;
}
.Resultado-Aumentador{
  color: black;
  margin-top: 9px;
  margin-left: 3px;
  font-family: 'Times New Roman', Times, serif;
  background-color: whitesmoke;
  width: 10%;
  border-radius: 4px ;
}


.Btn-Disminuir:hover{
  cursor: pointer;
}
.Btn-Disminuir{
  text-align: center;
  color: white;
  margin: 8px;
  background-color: black;
  width: 11%;
  border-radius: 4px;
  font-size: 20px;
}

.Contenedor-Btn-Comprar{
  display: flex;
  justify-content: center;
  margin: 6PX;
}
.Btn-Comprar{
  color: white;
  background-color: rgb(129, 24, 24);
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  margin: 2px;
}
.Btn-Detalles{
  color: white;
  background-color: rgb(8, 91, 66);
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  margin: 2px;
}

@media screen and (max-width:480px){

  .Svg{
      display: flex;
      cursor: pointer;
  }
  header{
    margin: 0;
  }
  .Nav{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin-top: 20px;
    display: none;
  }
  .Nav.Active{
    display: flex;
  }
  
  .Ul-Nav{
    flex-direction: column;
    margin: 4px;
  }
  .Li-Nav{
      margin: 6px;
  }
  main{
    display: flex;
    flex-direction: column;
  }
  .card-content{
    width: 60%;
    height: 20%;
    margin: 2%;
  }
}




aritcle{
  color: black;
}
.p{
  color: black;
}