
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Header{
  background-color: black;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 3px;
}

.H1-Nav{
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  
}

.BtnSvg{
  cursor: pointer;
}

.Svg{
  width: 3em;
  height: 2em;
  display:none;
  fill: white;
  
}

.Ul-Nav{
  display: flex;
  flex-flow: nowrap;
  justify-content: end;
  align-items: center;

}

.Li-Nav{
  margin: 1.3em;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Btn-Carrito :hover{
  cursor: pointer;
}
.Svg-Carrito{
  width: 8em;
  height: 3em;
  margin: 2px;
}
main{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30px;
  
}
.h1{
  color: black;
}

.card-content{
  justify-content: center;
  align-items: center;
  color: black;
  width: 20%;
  height: 20%;
  background-color:rgb(219, 216, 216);
  border: solid 1px black;
  margin: 20px;
}

.Title-product{
  display: flex;
  justify-content: center;
  margin: 8px;
  color: black;
  font-size: 22px;
}
.Title-productDetail{
  margin: 30px;
  font-size: 24px;
}
.Info-Card{
  background-color: white;
  margin: 5px;
}

.Description{
  margin: 15px;
  font-size: 16px;
}

.Price-Card{
  display: flex;
  font-size: 20px;
  margin: 13px;
  justify-content: center;
  color: rgb(186, 164, 108);
}
.Conteiner-BtnCard{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Conteiner-BtnCardAumDismi{
  display: flex;
  justify-content: center;
}

.card-contentDetail{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(134, 132, 132);
  width: 20%;
  height: 40%;
}

.infoDetail{
  margin: 4px;
}
.ContentImgDetail{
  margin: 10px;
}
.Btn-Aumentar{
  text-align: center;
  color: black;
  margin: 8px;
  background-color: rgb(161, 158, 158);
  width: 11%;
  border-radius: 4px ;
  cursor: pointer;
}
.Resultado-Aumentador{
  color: black;
  margin-top: 9px;
  margin-left: 3px;
  font-family: 'Times New Roman', Times, serif;
  width: 10%;
  border-radius: 4px ;
}

.Btn-Disminuir:hover{
  cursor: pointer;
}
.Btn-Disminuir{
  text-align: center;
  color: white;
  margin: 8px;
  background-color: black;
  width: 11%;
  border-radius: 4px;
  font-size: 20px;
}

.Contenedor-Btn-Comprar{
  display: flex;
  justify-content: center;
  margin: 6PX;
}
.Btn-Comprar{
  color: white;
  background-color: rgb(99, 3, 3);
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  margin: 4px;
}
.Btn-Detalles{
  color: white;
  background-color: rgb(35, 61, 53);
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  margin: 4px;
}
.btn-finalizarCompra{
  color: white;
  background-color: rgb(63, 20, 20);
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.Contenedor-Cart{
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
}
.Cart-img{
  width: 40px;
}
.Nombre-Cart{
  color: black;
  font-size: 20px;
  margin-left: 40px;
}
.Precio-Cart{
  color: black;
  font-size: 20px;
  margin-left: 40px;
}
.Cantidad-Cart{
  color: black;
  font-size: 20px;
  margin-left: 40px;
}
.Btn-Eliminar{
  color: rgb(155, 8, 8);
  cursor: pointer;
}
.Contenendor-btn-Limpiar{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.btn-Limpiar{
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 22px;
  margin: 5px;
}
.Volver-Home{
  color: black;
  background-color: rgb(222, 218, 214);
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
}
.Informacion-Cart{
  display: flex;
  flex-direction: column;
  }

.h2{
  color: rgb(125, 119, 119);
  font-size: 35px;
  margin: 30px;
}
.p{
  font-size: 20px;
  color: black;
  margin: 20px;
}
.contenedorTabla{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 10%;
}
.tablaCart{
  color: black;
}
th{
  margin: 15px;
}

@media screen and (max-width:480px){
  .Svg{
      display: flex;
      cursor: pointer;
  }
  header{
    margin: 0;
  }
  .Nav{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin-top: 20px;
    display: none;
  }
  .Nav.Active{
    display: flex;
  }
  
  .Ul-Nav{
    flex-direction: column;
    margin: 4px;
  }
  .Li-Nav{
      margin: 6px;
  }
  main{
    display: flex;
    flex-direction: column;
  }
  .card-content{
    width: 60%;
    height: 20%;
    margin: 2%;
  }
  
}

