
*{margin: 0%;
}

.App-Nav{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  background-color: rgb(237, 234, 230);
  border: 1px solid black;
}

.Logo-Nav{
  display: flex;
  justify-content: end;
  text-align: end;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Link-Nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

a{
  padding: 8px;
  text-decoration: none;
  color: black;
  font-size: 18px;

}

